body {
  border:0;
  background:#1C1F1F;
}

.wrap {
  width:250px;
  margin-left:auto;
  margin-right:auto;
}

.data {
  font-size:8px;
  font-family: 'Share Tech Mono', monospace ;
}

#logo {
  margin: 20px 0;
  width: 100%;
  opacity: 0.2;
  -o-transition:0.8s;
  -moz-transition:0.8s;
  -webkit-transition:0.8s;
  transition:0.8s;
  background:#000;
  padding:10px;
  box-sizing:border-box;
}

#logo:hover {
  opacity:1;
}

img {
  max-width:100%;
  height:auto;
}
