/*///////////////////////
//// DATAG.HOST STYLES
///////////////////////*/

/* -- CORE STRUCTURE -- */

html {
  height:100%;
}

body {
  margin:0;
  background:#1C1F1F;
  height:100%;
  font-family: 'Roboto', sans-serif;
  font-weight:700;
}

#head {
  overflow: hidden;
  height:130px;
  background:#000;
  position:fixed;
  top:0;
  width:100%;
  z-index:-1;
  -o-transition:0.8s;
  -moz-transition:0.8s;
  -webkit-transition:0.8s;
  transition:0.8s;
}

#head.terminal {
  height:400px;
  border-bottom: 1px solid #242727;
}

#terminal {
  width: 100%;
  height: 300px;
  background-size: cover;
  margin-top:40px;
  border-radius:3px;
  border-radius: 5px;
  border: 1px solid #242727;
  overflow:hidden;
}

#terminal .header {
  padding:6px;
  background: #606060;
  overflow:hidden;
}

#terminal .header .circle-btn {
  width:10px;
  height:10px;
  display:block;
  float:left;
  background:#1C1F1F;
  margin-right:4px;
  border-radius:50%;
  overflow:hidden;
}

#terminal .window {
  padding:8px;
  height:100%;
}

#terminal .window form {
  height:100%;
}

#terminal textarea {
  border:0;
  outline:0;
  background:#000;
  color:#fff;
  font-size: 12px;
  font-family: 'Share Tech Mono', monospace;
  padding: 0;
  width: 100%;
  height:100%;
}

#content {
  margin-top:130px;
  background:#1C1F1F;
  overflow:hidden;
  -o-transition:0.8s;
  -moz-transition:0.8s;
  -webkit-transition:0.8s;
  transition:0.8s;
}

#content.terminal {
  margin-top:400px;
}

.wrap {
  max-width:1200px;
  padding-left:100px;
  margin-left:auto;
  margin-right:auto;
  height:100%;
}

.col {
  width:33.333333333333333333%;
  float:left;
}

.col-2 {
  width:66.666666666666666666%;
  float:left;
}

.padding {
  padding:20px;
  box-sizing:border-box;
}

.big-padding {
  padding:60px;
  box-sizing:border-box;
}

/* -- LINKS -- */

a {
  cursor:pointer;
}

a.link {
  padding:10px;
  background:#000;
  color:#2B2B2B;
  text-decoration:none;
  font-family: 'Share Tech Mono', monospace;
  font-size:20px;
  letter-spacing:-1px;
  -o-transition:0.8s;
  -moz-transition:0.8s;
  -webkit-transition:0.8s;
  transition:0.8s;
  display:block;
}

a.link:hover {
  color:#fff;
}

/* -- SCROLLBARS -- */

.col::-webkit-scrollbar {
    width:4px;
    margin-right:15px;
}

.col::-webkit-scrollbar-track {
    background:transparent;
}

.col::-webkit-scrollbar-thumb {
    background-color:#444444;
}

/* -- TYPOGRAPHY -- */

h1 {
  color: #292C2C;
  font-size: 20px;
  margin: 0;
  line-height: 30px;
  box-sizing: border-box;
  -o-transition:0.8s;
  -moz-transition:0.8s;
  -webkit-transition:0.8s;
  transition:0.8s;
}

.col:hover h1 {
  color:#D5D5D5;
}

h2 {
  color:#D4D4D4;
  font-size:14px;
  text-transform:uppercase;
  -o-transition:0.8s;
  -moz-transition:0.8s;
  -webkit-transition:0.8s;
  transition:0.8s;
}

h2 hr {
  border:0;
  background:#606060;
  height:3px;
  width:30px;
  -o-transition:0.8s;
  -moz-transition:0.8s;
  -webkit-transition:0.8s;
  transition:0.8s;
}

hr {
  border:0;
  background:transparent;
  width:100%;
  border-bottom:1px dashed #000;
  margin:20px 0;
}

/* -- IMGS -- */

img {
  max-width:100%;
  height:auto;
}

/* -- LOGO -- */

#logo {
  margin-bottom: 20px;
  width: 100px;
  position: fixed;
  left: 50%;
  top: 157px;
  margin-left: -630px;
  cursor:pointer;
}

#logo img {
  opacity: 0.2;
  -o-transition:0.8s;
  -moz-transition:0.8s;
  -webkit-transition:0.8s;
  transition:0.8s;
}

#logo img:hover {
  opacity:1;
}

/* -- GALLERY -- */

#gallery {
  height:100%;
  width:100%;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index: 100;
  background: #D5D5D5;
  display:none;
  cursor:pointer;
}

#gallery img {
  max-width:none;
  height:100%;
  width:auto;
}

#gallery .caption {
  position:absolute;
  bottom:0;
  height:60px;
  padding:10px;
  width:100%;
  box-sizing: border-box;
  color:#fff;
  background:rgba(0, 0, 0, 0.6);
}

#gallery .big-padding {
  height:100%;
}

#gallery .content {
  text-align:center;
  height:100%;
}

/* -- CONTENT -- */

.data {
  font-size:8px;
  font-family: 'Share Tech Mono', monospace;
  word-break: break-all;
}

.img {
  width:100%;
  margin:20px 0;
  padding: 20px;
  box-sizing: border-box;
  background: #D5D5D5;
  position:relative;
  opacity: 0.7;
  cursor:pointer;
  -o-transition:0.8s;
  -moz-transition:0.8s;
  -webkit-transition:0.8s;
  transition:0.8s;
}

.img:hover {
  opacity:1;
}

.img .caption {
  position:absolute;
  left:0;
  top:60px;
  padding:10px;
  width:100%;
  box-sizing: border-box;
  color:#fff;
  background:rgba(0, 0, 0, 0.6);
}

.sound {
  width:100%;
  margin:20px 0;
  padding: 20px;
  box-sizing: border-box;
  background: #000;
  position:relative;
  opacity: 0.7;
  cursor:pointer;
  -o-transition:0.8s;
  -moz-transition:0.8s;
  -webkit-transition:0.8s;
  transition:0.8s;
}

.sound .info {
  font-size:8px;
  font-family: 'Share Tech Mono', monospace;
  word-break: break-all;
  color:#606060;
}

.sound .info-wrap {
  position: absolute;
  left: 10px;
  top: 10px;
}

.sound:hover h2 {
  color:#fff;
}

.sound:hover h2 hr {
  background:#D4D4D4;
}

.links {
  width:100%;
  margin:20px 0;
}

.text {
  font-size: 12px;
  font-family: 'Share Tech Mono', monospace;
  word-break: break-all;
  color: #606060;
}

/* -- MEDIA QUERIES -- */

@media screen and ( max-width:1300px ) {
  #logo {
    left:0;
    margin-left:0;
  }
}

@media screen and ( max-width:500px ) {
  .col {
    width:100%;
  }
}
