/*///////////////////////
//// DATAG.HOST STYLES
///////////////////////*/

/* -- CORE STRUCTURE -- */

html {
  height:100%;
}

body {
  margin:0;
  background:#1C1F1F;
  height:100%;
  font-family: 'Roboto', sans-serif;
  font-weight:700;
}

body.visuals {
  background:#D5D5D5;
}

body.index #content {
  margin-top:0;
  height: 100%;
}

#head {
  overflow: hidden;
  height:90px;
  position:fixed;
  top:0;
  width:100%;
  z-index:100;
  -o-transition: 0.8s;
  -moz-transition: 0.8s;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

#head.terminal {
  height:400px;
  border-bottom: 1px solid #242727;
}

#head .nav ul {
  list-style:none;
  padding:0;
  margin:0;
}

#head .nav ul li {
  padding:0;
  margin:0;
  display:inline-block;
}

#head .nav ul li a {
  text-decoration:none;
  color:#D5D5D5;
  padding: 6px 0;
  margin-left:20px;
  text-transform: uppercase;
  font-size: 1.6em;
  letter-spacing: 1px;
  opacity:0.5;
  -o-transition: color 0.8s;
  -moz-transition: color 0.8s;
  -webkit-transition: color 0.8s;
  transition: color 0.8s;
}

#head .nav ul li a.active{
  color:#fff;
  border-bottom:3px solid;
}

#head .nav ul li a:hover {
  opacity:1;
}

#terminal {
  height: 400px;
  background-size: cover;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 5px;
  overflow: hidden;
  position: absolute;
  top: 180px;
  width: 600px;
  left: 50%;
  margin-left: -300px;
  background:#000;
  -o-transition: 0.8s;
  -moz-transition: 0.8s;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.20);
  -mozbox-shadow: 0 0 30px rgba(0, 0, 0, 0.20);
  -ms-box-shadow: 0 0 30px rgba(0, 0, 0, 0.20);
  -o-box-shadow: 0 0 30px rgba(0, 0, 0, 0.20);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.20);
  display:none;
  opacity:0;
}

#terminal.show {
  display:block;
  opacity:1;
}

#terminal .header {
  padding:6px;
  background:#9E9F9F;
  overflow:hidden;
  position:relative;
}

#terminal .terminal-title {
  position:absolute;
  left:50%;
  margin-left:-100px;
  width:200px;
  text-align:center;
  font-size:10px;
  color:#000;
  font-family: 'Share Tech Mono', monospace;
  letter-spacing:1px;
  text-transform:uppercase;
}

#terminal .header .circle-btn {
  width:10px;
  height:10px;
  display:block;
  float:left;
  background:#1C1F1F;
  margin-right:4px;
  border-radius:50%;
  overflow:hidden;
}

#close-terminal {
  cursor:pointer
}

#terminal .window {
  padding:8px;
  height:100%;
}

#terminal .window form {
  height:100%;
}

#terminal textarea {
  border:0;
  outline:0;
  background:#000;
  color:#fff;
  font-size: 12px;
  font-family: 'Share Tech Mono', monospace;
  padding: 0;
  width: 100%;
  height:100%;
}

#output {
  margin-top:40px;
  color:#fff;
}

#content {
  margin-top:130px;
  overflow:hidden;
  -o-transition:0.8s;
  -moz-transition:0.8s;
  -webkit-transition:0.8s;
  transition:0.8s;
  min-height:calc(100% - 300px);
}

.wrap {
  max-width:1200px;
  margin-left:auto;
  margin-right:auto;
  height:100%;
}

.col {
  width:33.333333333333333333%;
  float:left;
}

.col.full {
  width:66.6666666666666666666%;
}

.col-2 {
  width:66.666666666666666666%;
  float:left;
  clear:left;
}

.padding {
  padding:20px;
  box-sizing:border-box;
}

.big-padding {
  padding:60px;
  box-sizing:border-box;
}

/* -- LINKS -- */

a {
  cursor:pointer;
}

a.link {
  padding:10px;
  background:#000;
  color:#2B2B2B;
  text-decoration:none;
  font-family: 'Share Tech Mono', monospace;
  font-size:20px;
  letter-spacing:-1px;
  -o-transition:0.8s;
  -moz-transition:0.8s;
  -webkit-transition:0.8s;
  transition:0.8s;
  display:block;
}

a.link:hover {
  color:#fff;
}

.echo {

}

/* -- SCROLLBARS -- */

.col::-webkit-scrollbar {
    width:4px;
    margin-right:15px;
}

.col::-webkit-scrollbar-track {
    background:transparent;
}

.col::-webkit-scrollbar-thumb {
    background-color:#444444;
}

/* -- TYPOGRAPHY -- */

h1 {
  color: #292C2C;
  font-size: 20px;
  margin: 0;
  line-height: 30px;
  box-sizing: border-box;
  -o-transition:0.8s;
  -moz-transition:0.8s;
  -webkit-transition:0.8s;
  transition:0.8s;
}

.col:hover h1 {
  color:#D5D5D5;
}

h2 {
  color:#D4D4D4;
  font-size:14px;
  text-transform:uppercase;
  -o-transition:0.8s;
  -moz-transition:0.8s;
  -webkit-transition:0.8s;
  transition:0.8s;
}

h2 hr {
  border:0;
  background:#606060;
  height:3px;
  width:30px;
  -o-transition:0.8s;
  -moz-transition:0.8s;
  -webkit-transition:0.8s;
  transition:0.8s;
}

hr {
  border:0;
  background:transparent;
  width:100%;
  border-bottom:1px dashed #000;
  margin:20px 0;
}

/* -- IMGS -- */

img {
  max-width:100%;
  height:auto;
}

/* -- LOGO -- */

#logo {
  width: 200px;
  float:left;
}

#logo img {
  opacity: 0.5;
  -o-transition:0.8s;
  -moz-transition:0.8s;
  -webkit-transition:0.8s;
  transition:0.8s;
}

#logo img:hover {
  opacity:1;
}

/* -- GALLERY -- */

#gallery {
  height:100%;
  width:100%;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index: 100;
  background: #D5D5D5;
  display:none;
  cursor:pointer;
}

#gallery img {
  max-width:none;
  height:100%;
  width:auto;
}

#gallery .caption {
  position:absolute;
  bottom:0;
  height:60px;
  padding:10px;
  width:100%;
  box-sizing: border-box;
  color:#fff;
  background:rgba(0, 0, 0, 0.6);
}

#gallery .big-padding {
  height:100%;
}

#gallery .content {
  text-align:center;
  height:100%;
}

/* -- CONTENT -- */

#back-visuals {
  position:fixed;
  top:0;
  left:0;
  bottom:0;
  right:0;
  opacity:0.5;
}

#back-visuals img {
  width:100%;
  position:absolute;
  top:0;
}

#visuals-wrapper {
  margin-left: -20px;
  margin-right: -20px;
}

#echoes h1 {
  color:#606060;
}

.flex-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: horizontal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-item {
  width:25%;
}

.echo:hover {
  color:#fff;
}

.data {
  font-size:8px;
  font-family: 'Share Tech Mono', monospace;
  word-break: break-all;
}

.img {
  margin:20px 0;
  padding: 20px;
  box-sizing: border-box;
  position:relative;
  opacity: 0.7;
  cursor:pointer;
  -o-transition:0.8s;
  -moz-transition:0.8s;
  -webkit-transition:0.8s;
  transition:0.8s;
}

.img:hover {
  opacity:1;
}

.img .caption {
  position:absolute;
  left:0;
  top:60px;
  padding:10px;
  width:100%;
  box-sizing: border-box;
  color:#fff;
  background:rgba(0, 0, 0, 0.6);
}

.sound {
  width:100%;
  margin:20px 0;
  padding: 20px;
  box-sizing: border-box;
  background: #000;
  position:relative;
  opacity: 0.7;
  cursor:pointer;
  -o-transition:0.8s;
  -moz-transition:0.8s;
  -webkit-transition:0.8s;
  transition:0.8s;
}

.sound .info {
  font-size:8px;
  font-family: 'Share Tech Mono', monospace;
  word-break: break-all;
  color:#606060;
}

.sound .info-wrap {
  position: absolute;
  left: 10px;
  top: 10px;
}

.sound:hover h2 {
  color:#fff;
}

.sound:hover h2 hr {
  background:#D4D4D4;
}

.links {
  width:100%;
  margin:20px 0;
}

.text {
  font-size: 12px;
  font-family: 'Share Tech Mono', monospace;
  color: #606060;
}

.text a {
  color: #606060;
}

.text a:hover {
  color: #D5D5D5;
}

/* -- MEDIA QUERIES -- */

@media screen and ( max-width:1300px ) {
  #logo {
    left:0;
    margin-left:0;
  }
}

@media screen and ( max-width:980px ) {
  .wrap {
    padding-left:80px;
  }
  #gallery img {
    max-width: 100%;
    height: auto;
  }
}

@media screen and ( max-width:750px ) {
  .wrap {
    padding:0 20px;
  }
  #logo {
    display:none;
  }
  #echoes {
    width:100%;
  }
  #visuals,
  #sounds {
    width:50%;
  }
  #head {
    height:140px;
  }
  #content {
    margin-top:140px;
  }
}

@media screen and ( max-width:500px ) {
  .col {
    width:100%;
  }
  #visuals,
  #sounds {
    width:100%;
  }
  #head {
    padding:20px 0;
    height:150px;
  }
  #content {
    margin-top:190px;
  }
  #head .col-2 {
    width:100%;
  }
  #head .col .padding {
    padding-top:0;
    padding-bottom:0;
  }
}
