body {
  border:0;
  background:#1C1F1F;
}

.wrap {
  max-width:1000px;
  margin-left:auto;
  margin-right:auto;
}

.col {
  width:25%;
  float:left;
}

.padding {
  padding:10px;
}

.data {
  font-size:8px;
  font-family: 'Share Tech Mono', monospace;
  word-break: break-all;
}

h1 {
  font-family: 'Share Tech Mono', monospace;
  color:#D5D5D5;
  font-size:30px;
}

#logo {
  margin: 20px 0;
  width: 100%;
  background:#000;
  padding:10px;
  box-sizing:border-box;
}

#logo img {
  opacity: 0.2;
  -o-transition:0.8s;
  -moz-transition:0.8s;
  -webkit-transition:0.8s;
  transition:0.8s;
}

#logo img:hover {
  opacity:1;
}

img {
  max-width:100%;
  height:auto;
}
