html {
  height:100%;
}

body {
  border:0;
  background:#1C1F1F;
  height:100%;
  font-family: 'Roboto', sans-serif;
  font-weight:700;
}

.wrap {
  max-width:1000px;
  margin-left:auto;
  margin-right:auto;
  height:100%;
}

.col {
  width:25%;
  float:left;
  overflow:auto;
}

a {
  cursor:pointer;
}

a.link {
  padding:10px;
  background:#000;
  color:#2B2B2B;
  text-decoration:none;
  font-family: 'Share Tech Mono', monospace;
  font-size:20px;
  letter-spacing:-1px;
  -o-transition:0.8s;
  -moz-transition:0.8s;
  -webkit-transition:0.8s;
  transition:0.8s;
}

a.link:hover {
  color:#fff;
}

.col::-webkit-scrollbar {
    width:4px;
    margin-right:15px;
}

.col::-webkit-scrollbar-track {
    background:transparent;
}

.col::-webkit-scrollbar-thumb {
    background-color:#444444;
}

#gallery {
  height:100%;
  width:100%;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index: 100;
  background: #D5D5D5;
  display:none;
  cursor:pointer;
}

#gallery img {
  max-width:none;
  height:100%;
  width:auto;
}

#gallery .caption {
  position:absolute;
  bottom:0;
  height:60px;
  padding:10px;
  width:100%;
  box-sizing: border-box;
  color:#fff;
  background:rgba(0, 0, 0, 0.6);
}

#gallery .big-padding {
  height:100%;
}

#gallery .content {
  text-align:center;
  height:100%;
}

.padding {
  padding:10px;
  box-sizing:border-box;
}

.big-padding {
  padding:60px;
  box-sizing:border-box;
}

.data {
  font-size:8px;
  font-family: 'Share Tech Mono', monospace;
  word-break: break-all;
}

.img {
  width:100%;
  margin:20px 0;
  padding: 20px;
  box-sizing: border-box;
  background: #D5D5D5;
  position:relative;
  opacity: 0.7;
  cursor:pointer;
  -o-transition:0.8s;
  -moz-transition:0.8s;
  -webkit-transition:0.8s;
  transition:0.8s;
}

.img:hover {
  opacity:1;
}

.img .caption {
  position:absolute;
  left:0;
  top:60px;
  padding:10px;
  width:100%;
  box-sizing: border-box;
  color:#fff;
  background:rgba(0, 0, 0, 0.6);
}

h1 {
  color: #000;
  font-size: 20px;
  margin: 0;
  line-height: 30px;
  box-sizing: border-box;
}

hr {
  border:0;
  background:transparent;
  width:100%;
  border-bottom:1px dashed #000;
  margin:20px 0;
}

#logo {
  margin-bottom: 20px;
  width: 100%;
  background:#000;
  padding:10px;
  box-sizing:border-box;
  cursor:pointer;
}

#logo img {
  opacity: 0.2;
  -o-transition:0.8s;
  -moz-transition:0.8s;
  -webkit-transition:0.8s;
  transition:0.8s;
}

#logo img:hover {
  opacity:1;
}

img {
  max-width:100%;
  height:auto;
}
