/*///////////////////////
//// DATAG.HOST STYLES
///////////////////////*/

/* -- CORE STRUCTURE -- */

html {
  height:100%;
}

body {
  margin:0;
  background:#1C1F1F;
  height:100%;
  font-family: 'Roboto', sans-serif;
  font-weight:700;
}

body.echoes {
  background:#000;
}

body.visuals {
  background:#D5D5D5;
}

body.visuals #head .nav ul li a {
  color:#000;
}

body.visuals #head {
  z-index:100;
  background:rgba(213,213,213,0.7);
}

body.sounds #head,
body.echoes #head {
  z-index:100;
  background:rgba(28,31,31,0.7);
}

body.index #content {
  background:#1C1F1F;
  margin-top:0;
  min-height: 100%;
  margin-top:85px;
  position:relative;
  z-index:1000;
}

body.index #ui-view {
  height: 100%;
}

#head {
  overflow: hidden;
  height:85px;
  position:fixed;
  top:0;
  width:100%;
  z-index:100;
  -o-transition: 0.8s;
  -moz-transition: 0.8s;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

#head .wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: horizontal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
}

#head.terminal {
  height:400px;
  border-bottom: 1px solid #242727;
}

#head .nav {
  -webkit-box-flex: 3;
  -webkit-flex: 3;
  -moz-box-flex: 3;
  -moz-flex: 3;
  -ms-flex: 3;
  flex: 3;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
}

#head .nav div {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

#head .single-echo {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -moz-box-flex: 2;
  -moz-flex: 2;
  -ms-flex: 2;
  flex: 2;
  border-left: 1px solid;
}

#head .nav ul {
  list-style:none;
  padding:0;
  margin:0;
}

#head .nav ul li {
  padding:0;
  margin:0;
  display:inline-block;
}

#head .nav ul li a {
  text-decoration:none;
  color: #606060;
  padding: 6px 0;
  margin-left:20px;
  letter-spacing: 1px;
  -o-transition: color 0.8s;
  -moz-transition: color 0.8s;
  -webkit-transition: color 0.8s;
  transition: color 0.8s;
  font-size: 12px;
  font-family: 'Share Tech Mono', monospace;
  font-weight:100;
}

#head .nav ul li a.active{
  color:#fff;
  border-bottom:1px solid;
}

#dots {
  display:none;
}

body.index #dots {
  display:block;
}

#head .nav ul li a:hover,
#dots a:hover {
  color:#787A7A;
}

#dots {
  padding-left: 40px;
  font-size: 10px;
}

#dots a {
  color:#606060;
  margin-right:10px;
}

#terminal-button {
  float:right;
}

#terminal-button i {
  margin-right:10px;
}

#terminal {
  height: 400px;
  background-size: cover;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 5px;
  overflow: hidden;
  position: absolute;
  z-index:1000;
  top: 180px;
  width: 600px;
  left: 50%;
  margin-left: -300px;
  background:#000;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.20);
  -mozbox-shadow: 0 0 30px rgba(0, 0, 0, 0.20);
  -ms-box-shadow: 0 0 30px rgba(0, 0, 0, 0.20);
  -o-box-shadow: 0 0 30px rgba(0, 0, 0, 0.20);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.20);
  display:none;
  opacity:0;
}

#terminal.show {
  display:block;
  opacity:1;
}

#terminal .header {
  padding:6px;
  background:#9E9F9F;
  overflow:hidden;
  position:relative;
  cursor: -webkit-grab;
  cursor: grab;
}

#terminal .terminal-title {
  position:absolute;
  left:50%;
  margin-left:-100px;
  width:200px;
  text-align:center;
  font-size:10px;
  color:#000;
  font-family: 'Share Tech Mono', monospace;
  letter-spacing:1px;
  text-transform:uppercase;
}

#terminal .header .circle-btn {
  width: 14px;
  height: 14px;
  font-size:8px;
  text-align:center;
  color:#606060;
  display:block;
  float:left;
  background:#606060;
  margin-right:6px;
  border-radius:50%;
  overflow:hidden;
  line-height:15px;
}

#terminal.full-screen {
  height:100%;
  width:100%;
  margin:0;
  position:fixed;
  top:0!important;
  left:0!important;
  bottom:0;
  right:0;
  border-radius:0;
}

#terminal .header:hover .circle-btn {
  color:#000;
}

#close-terminal,
#expand-terminal {
  cursor:pointer
}

#terminal .window {
  padding:8px;
  height:100%;
}

#terminal .window form {
  height:100%;
}

#terminal textarea {
  border:0;
  outline:0;
  background:#000;
  color:#fff;
  font-size: 12px;
  font-family: 'Share Tech Mono', monospace;
  padding: 0;
  width: 100%;
  height:100%;
}

#output {
  margin-top:40px;
  color:#fff;
}

#content {
  margin-top:130px;
  overflow:hidden;
  -o-transition:0.8s;
  -moz-transition:0.8s;
  -webkit-transition:0.8s;
  transition:0.8s;
  min-height:calc(100% - 300px);
}

.wrap {
  max-width:1200px;
  margin-left:auto;
  margin-right:auto;
  height:100%;
}

.col {
  width:33.333333333333333333%;
  float:left;
}

.col.full {
  width:66.6666666666666666666%;
}

.col-2 {
  width:66.666666666666666666%;
  float:left;
  clear:left;
}

.padding {
  padding:20px;
  box-sizing:border-box;
}

.big-padding {
  padding:60px;
  box-sizing:border-box;
}

/* -- LINKS -- */

a {
  cursor:pointer;
  -o-transition:0.8s;
  -moz-transition:0.8s;
  -webkit-transition:0.8s;
  transition:0.8s;
}

a.link {
  padding:10px;
  background:#000;
  color:#2B2B2B;
  text-decoration:none;
  font-family: 'Share Tech Mono', monospace;
  font-size:20px;
  letter-spacing:-1px;
  -o-transition:0.8s;
  -moz-transition:0.8s;
  -webkit-transition:0.8s;
  transition:0.8s;
  display:block;
}

a.link:hover {
  color:#fff;
}

.echo {

}

/* -- SCROLLBARS -- */

.col::-webkit-scrollbar {
    width:4px;
    margin-right:15px;
}

.col::-webkit-scrollbar-track {
    background:transparent;
}

.col::-webkit-scrollbar-thumb {
    background-color:#444444;
}

/* -- TYPOGRAPHY -- */

h1 {
  color: #292C2C;
  font-size: 20px;
  margin: 0;
  line-height: 30px;
  box-sizing: border-box;
  -o-transition:0.8s;
  -moz-transition:0.8s;
  -webkit-transition:0.8s;
  transition:0.8s;
}

.col:hover h1 {
  color:#D5D5D5;
}

h2 {
  color:#D4D4D4;
  font-size:14px;
  text-transform:uppercase;
  -o-transition:0.8s;
  -moz-transition:0.8s;
  -webkit-transition:0.8s;
  transition:0.8s;
}

h2 hr {
  border:0;
  background:#606060;
  height:3px;
  width:30px;
  -o-transition:0.8s;
  -moz-transition:0.8s;
  -webkit-transition:0.8s;
  transition:0.8s;
}

hr {
  border:0;
  background:transparent;
  width:100%;
  border-bottom:1px dashed #000;
  margin:20px 0;
}

/* -- IMGS -- */

img {
  max-width:100%;
  height:auto;
}

/* -- LOGO -- */

#logo {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

#logo img {
  opacity: 0.5;
  -o-transition:0.8s;
  -moz-transition:0.8s;
  -webkit-transition:0.8s;
  transition:0.8s;
}

#logo img:hover {
  opacity:1;
}

/* -- GALLERY -- */

#gallery {
  height:100%;
  width:100%;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index: 100;
  background: #D5D5D5;
  display:none;
  cursor:pointer;
}

#gallery img {
  max-width:none;
  height:100%;
  width:auto;
}

#gallery .caption {
  position:absolute;
  bottom:0;
  height:60px;
  padding:10px;
  width:100%;
  box-sizing: border-box;
  color:#fff;
  background:rgba(0, 0, 0, 0.6);
}

#gallery .big-padding {
  height:100%;
}

#gallery .content {
  text-align:center;
  height:100%;
}

/* -- CONTENT -- */

#back-visuals {
  position:static;
  top:0;
  left:0;
  bottom:0;
  right:0;
  opacity:0.5;
}

#back-visuals img {
  width:100%;
  position:absolute;
  top:0;
}

#visuals-wrapper {
  margin-left: -20px;
  margin-right: -20px;
}

#echoes h1,
#sounds h1 {
  color:#606060;
}

.flex-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: horizontal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.echo:hover {
  color:#fff;
}

.echo .padding {
  border-left:1px solid;
}

.data {
  font-size:8px;
  font-family: 'Share Tech Mono', monospace;
  word-break: break-all;
}

.img {
  margin:20px 0;
  padding: 20px;
  box-sizing: border-box;
  position:relative;
  opacity: 0.7;
  cursor:pointer;
  -o-transition:0.8s;
  -moz-transition:0.8s;
  -webkit-transition:0.8s;
  transition:0.8s;
}

.img:hover {
  opacity:1;
}

.img .caption {
  position:absolute;
  left:0;
  top:60px;
  padding:10px;
  width:100%;
  box-sizing: border-box;
  color:#fff;
  background:rgba(0, 0, 0, 0.6);
}

.sound {
  width:100%;
  padding:20px;
  margin:20px 0;
  box-sizing: border-box;
  background: #000;
  position:relative;
  cursor:pointer;
  -o-transition:0.8s;
  -moz-transition:0.8s;
  -webkit-transition:0.8s;
  transition:0.8s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: horizontal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
}

.sound .cover {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.sound .player {
  -webkit-box-flex: 3;
  -webkit-flex: 3;
  -moz-box-flex: 3;
  -moz-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

.sound .player audio {
  width:100%;
}

.player #waveform {
  margin-bottom:20px;
}

.player-controls {
  border-top: 1px solid #606060;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: horizontal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
}

.player-controls .time span {
  padding:15px 0;
  text-align:center;
  border-left: 1px solid;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.player-controls .volume {
  -webkit-box-flex: 8;
  -webkit-flex: 8;
  -moz-box-flex: 8;
  -moz-flex: 8;
  -ms-flex: 8;
  flex: 8;
}

.player-controls .time {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: horizontal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 3;
  -webkit-flex: 3;
  -moz-box-flex: 3;
  -moz-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

.player-controls .volume,
.player-controls .volume-slider  {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: horizontal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  border-left: 1px solid #606060;
}

.player-controls .volume #mute {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.player-controls .volume-slider {
  -webkit-box-flex: 6;
  -webkit-flex: 6;
  -moz-box-flex: 6;
  -moz-flex: 6;
  -ms-flex: 6;
  flex: 6;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  position:relative;
}

.player-controls .volume .scale {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: horizontal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  position:absolute;
  top:0;
  z-index:10;
  pointer-events: none;
  width:100%;
}

.player-controls .volume .scale .tenth {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #606060;
  letter-spacing: 0.15em;
  font-size: 10px;
  font-weight: 100;
  border-right: 1px solid #606060;
  height: 20px;
  line-height: 7px;
  text-align: center;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  height: 49px;
  position: absolute;
  top: 0;
  margin: 0;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent; /* Hides the slider so custom styles can be added */
  border-color: transparent;
  color: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 49px;
  width: 1px;
  background: #ffffff;
  cursor: pointer;
  margin-top: 0px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  height: 49px;
  width: 1px;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  height: 49px;
  width: 1px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height:49px;
  cursor: pointer;
  background: #000;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #000;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 49px;
  cursor: pointer;
  background: #000;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 49px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #000;
}
input[type=range]:focus::-ms-fill-lower {
  background: #000;
}
input[type=range]::-ms-fill-upper {
  background: #000;
}
input[type=range]:focus::-ms-fill-upper {
  background: #000;
}

.player .player-controls a {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color:#606060;
  padding:15px 0;
  text-align:center;
}

.player .player-controls a:hover {
  color:#fff;
}

.sound .info {
  font-size:10px;
  font-family: 'Share Tech Mono', monospace;
  word-break: break-all;
  color:#606060;
}

.sound .info-wrap {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-left:-20px;
}

.sound h2 {
  font-size:18px;
  letter-spacing:1px;
}

.sound:hover h2 {
  color:#fff;
}

.sound:hover h2 hr {
  background:#D4D4D4;
}

.links {
  width:100%;
  margin:20px 0;
}

.text {
  font-size: 12px;
  font-family: 'Share Tech Mono', monospace;
  color: #606060;
}

.text a {
  color: #606060;
}

.text a:hover {
  color: #D5D5D5;
}

/* -- MEDIA QUERIES -- */

@media screen and ( max-width:1300px ) {
  #logo {
    left:0;
    margin-left:0;
  }
}

@media screen and ( max-width:980px ) {
  .wrap {
    padding-left:80px;
  }
  #gallery img {
    max-width: 100%;
    height: auto;
  }
}

@media screen and ( max-width:750px ) {
  .wrap {
    padding:0 20px;
  }
  #logo {
    display:none;
  }
  #echoes {
    width:100%;
  }
  #visuals,
  #sounds {
    width:50%;
  }
  #head {
    height:140px;
  }
  #content {
    margin-top:140px;
  }
}

@media screen and ( max-width:500px ) {
  .col {
    width:100%;
  }
  #visuals,
  #sounds {
    width:100%;
  }
  #head {
    padding:20px 0;
    height:150px;
  }
  #content {
    margin-top:190px;
  }
  #head .col-2 {
    width:100%;
  }
  #head .col .padding {
    padding-top:0;
    padding-bottom:0;
  }
}
