<div class="wrap" ng-controller="echoesCtrl as ech">
  <section id="content">
    <div id="echoes" class="content-type">
      <div class="padding">
        <h1>
          ECHOES
        </h1>
      </div>
      <div id="echoes-wrapper" class="flex-wrap">
        <div class="flex-row">
          <div ng-repeat="echo in ech.echoes" id="echo-{{ echo.ID }}" class="echo flex-item text">
            <div class="padding">
              {{ echo.text }}
            </div>
          </div>
      </div>
    </div>
  </section>
</div>
