<div class="wrap" ng-controller="echoesCtrl as ech">
  <section id="content">
    <div id="echoes" class="content-type">
      <div class="padding">
        <h1>
          ECHOES
        </h1>
      </div>
      <div id="echoes-wrapper" class="flex-wrap">
        <div class="flex-row">
          <div ng-repeat="entry in home_timeline" class="echo flex-item text">
            <div class="padding">
              <p ng-bind-html="entry.text"></p>
              <img ng-if="entry.extended_entities" ng-src="{{ entry.extended_entities.media[0].media_url }}" style="width: 100%;"/>
            </div>
          </div>
      </div>
    </div>
  </section>
</div>
