<header id="head">
  <div class="wrap">
      <div id="logo">
        <div class="padding">
          <a href="/datag.host/">
            <img ng-if="body.lightOrDark() == 'dark'" src="../datag.host/dataghost-app/assets/img/dataghostlogo.svg">
            <img ng-if="body.lightOrDark() == 'light'" src="../datag.host/dataghost-app/assets/img/dataghostlogodark.svg">
          </a>
        </div>
      </div>
      <div class="nav">
        <div class="padding">
          <ul>
            <li><a href="/datag.host/#/visuals">visuals</a></li>
            <li><a href="/datag.host/#/sounds">sounds</a></li>
            <li><a href="/datag.host/#/echoes">echoes</a></li>
            <li id="terminal-button"><a id="toggle-terminal" href=""><i class="fa fa-terminal"></i>terminal</a></li>
          </ul>
        </div>
        <div id="dots"></div>
      </div>
      <div class="single-echo text">
        <div class="padding">
        A ghost made out of data,<br>
        persistent data,<br>
        independent from it's source.
        </div>
      </div>
    </div>
  </div>
</header>
