<header id="head">
  <div class="wrap">
      <div id="logo">
        <div class="padding">
          <a href="/">
            <img src="../datag.host/dataghost-app/assets/img/dataghostlogo.svg">
          </a>
        </div>
      </div>
      <div class="nav">
        <div class="padding">
          <ul>
            <li><a href="/visuals">visuals</a></li>
            <li><a href="/sounds">sounds</a></li>
            <li><a href="/echoes">echoes</a></li>
            <li id="terminal-button"><a id="toggle-terminal" href=""><i class="fa fa-terminal"></i>terminal</a></li>
          </ul>
        </div>
        <div id="dots"></div>
      </div>
      <div class="single-echo text">
        <div class="padding">
        A ghost made out of data,<br>
        persistent data,<br>
        independent from it's source.
        </div>
      </div>
    </div>
  </div>
</header>
