<div class="wrap">
  <section id="content">
  <div id="sounds" class="content-type">
    <div class="padding">
      <h1>
        SOUNDS<br>
      </h1>
      <div id="05" class="sound">
          <div class="cover">
            <img src="img/orb-crs-3.jpg">
          </div>
          <div class="info-wrap">
            <h2>
              <hr>
              orb crs-3
              <hr>
            </h2>
            <div class="info">
              Release:<br>
              01 / 12 / 2015<br>
              23:16<br>
              <br>
              TotalTime: 02:34<br>
              Items: 1<br>
              Size: 40.8Mo
            </div>
          </div>
          <div class="player">
            <div id="waveform">
            </div>
            <div class="player-controls">
              <a id="play-sound" class="play"><i class="fa fa-play"></i></a>
              <div class="time text">
                <span class="elapsed">00:00</span>
                <span class="left">04:00</span>
              </div>
              <div class="volume">
                <a id="mute"><i class="fa fa-volume-up"></i></a>
                <div class="volume-slider">
                  <div class="scale">
                    <div class="tenth"> | | | |</div>
                    <div class="tenth"> | | | |</div>
                    <div class="tenth"> | | | |</div>
                    <div class="tenth"> | | | |</div>
                    <div class="tenth"> | | | |</div>
                    <div class="tenth"> | | | |</div>
                    <div class="tenth"> | | | |</div>
                    <div class="tenth"> | | | |</div>
                    <div class="tenth"> | | | |</div>
                    <div class="tenth"> | | | |</div>
                  </div>
                  <input id="volume-range" type="range" min="0" max="1" step="0.02">
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
</div>
