<div class="wrap">
  <section id="content">
    <div id="visuals" class="content-type">
      <div class="padding">
        <h1>
          VISUALS
        </h1>
        <div id="visuals-wrapper" class="flex-wrap">
          <div class="flex-row">
            <div id="visual-1" class="img flex-item">
              <img src="../datag.host/dataghost-app/assets/img/absenceofnoise-10.png">
            </div>
            <div id="visual-2" class="img flex-item">
              <img src="../datag.host/dataghost-app/assets/img/merger.png">
            </div>
            <div id="visial-3" class="img flex-item">
              <img src="../datag.host/dataghost-app/assets/img/flyer.jpg">
            </div>
            <div id="visual-4" class="img flex-item">
              <img src="../datag.host/dataghost-app/assets/img/dataset.svg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
